<h1> Grocery List </h1>
<ul id="sortable">
<% @groceryitems.each do |item|%>
 <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
 	<%= item.item %>
			<%= link_to "Delete", item, :method => :delete ,:confirm => "Are you sure you want to delete this from your list?" %>
  </li>
<% end %>
</ul>
