<h1> Grocery List </h1>
<ul id="sortable">
<% @groceryitems.each do |item|%>
 <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
 		<%= item.item %>
  </li>
<% end %>
</ul>
