
<div> <%= link_to 'Add item to List', new_user_grocery_item_path(user_id: current_user.id) %> </div>
<div> <%= link_to 'Show all current flyer products', products_path %> </div>
<div id="list">
  <%= render "list" %>
</div>
<div class="row">
  <div class="large-12 columns"></div>

</div>
