<% content_for :nav do %>
	<li>
		<%= link_to 'Add item to List', new_user_grocery_item_path(user_id: current_user.id) %>
	</li>
<% end %>



<div> <%= link_to 'Show all current flyer products', products_path %> </div>

<%= render "list" %>

