/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.all
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
 h1{
font-family: 'Nothing You Could Do', cursive;
 }
 body{
 	 	font-family: 'Alegreya SC', serif;
 	background-color: #B29B09
 }
 #sortable { list-style-type: none; }
 /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }*/
 /*#sortable li span { position: absolute; margin-left: -1.3em; }*/
.field{ width: 60%;}
.grocery-item {
	float: left;
}
.delete-button{
text-align: right;
font-color: #FFF840;
font-weight: normal;
font-align: center;
}
.sty-button{

font-color: #FFF840;
font-weight: normal;
background-color: #fff840;
border-radius: 50;
}
.label-font{
	font-size: 2.2em;
	font-family: 'Nothing You Could Do', cursive;
}
#title{
	font-size: 2.2em;
	font-family: 'Nothing You Could Do', cursive;
}
.right{
	font-size: 2.2em;
}
/*.grocery-item{
	font-size: 1.5em;
}*/
.top-bar{
	padding: 50px;
}
